.main-wrapper{
    width:100%;
    display:flex;
    justify-content: space-around;
}

.col-12{

}

.destination{
    width: 100%;
    height:300px;
    border:2px solid red;
    font-size: 30px;
    text-align: center;
}
.main-container{
    margin:60px auto;
}
.destination > p{
    margin:50px;
}