.NavWrapper{
    width:200px;
    height:130px;
    top:5px;
    left :5px;
    border:solid 2px blue;
    background-color: rgb(167, 167, 167);
    border-radius: 10px;
}
ul{
    list-style-type: none;
}
a{
    font-size: 24px;
    color: rgb(0, 255, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(208, 255, 0);
}